<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Trading System">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <!--Logo-->
    <link rel="shortcut icon" href="~/Images/logoIcon.ico">
    <!--BootStrap-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!--Site Style-->
    <link href="~/Content/UserStyle.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!--start color box-->
    <section class="option-box">
        <div class="color-option">
            <span>choose</span>
            <ul class="list-unstyled">
                <li data-value='' data-toggle="tooltip" data-placement="top" title="Arabic">@Html.ActionLink("AR", "change", "Home", new { LanguageAbbrevation = "ar" }, null)</li>
                <li data-value='' data-toggle="tooltip" data-placement="top" title="English">@Html.ActionLink("EN", "change", "Home", new { LanguageAbbrevation = "en" }, null)</li>
            </ul>
        </div>
        <i class="fa fa-desktop fa-lg fa-icon"></i>
    </section>
    <!--end color box-->
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#MainNavbar">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a href="#page-top"><img src="~/Images/logo.png" class="logoimg"></a>
                <span class="logo">Monsters Trading System</span>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse nav2" id="MainNavbar">

                    <ul class="nav navbar-nav navbar-right">

                        <li>
                            <a href="#">Home</a>
                        </li>

                        <li>
                            <a><i class="fa fa-tags" aria-hidden="true"></i>  &nbsp;Order Transactions</a>
                            <ul class="dropdown-menu">
                                <div class="triangle"></div>
                                <li><a href="#"> Add Order</a></li>
                                <li><a href="#"> Update Order</a></li>
                                <li><a href="#"> All Orders</a></li>
                            </ul>

                        </li>
                        <li>
                            <a><i class="fa fa-user" aria-hidden="true"></i> AmalTarek &nbsp;<i class="fa fa-sort-desc" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu">
                                <div class="triangle"></div>
                                <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                                <li><a href="#"><i class="fa fa-sign-out"></i> log Out </a></li>
                            </ul>

                        </li>

                    </ul>


            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    <!--Dynamic Body-->
    <section id="home">
        <div class="container">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </section>

    <!--Footer-->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>
                            51 Hamed Abdul-Azeem
                            <br>St. Omrania, Giza Government
                        </p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-youtube"></i></a>
                            </li>
                            <li style="cursor:pointer">
                                <a class="btn-social btn-outline" data-container="body" data-toggle="popover" data-html="true" data-placement="bottom" data-content="Tel :  35863011 - 35849709<br />

        Language dep   : 35849708 - 01013102618  <br />  Mob   :  0122250162"><i class="fa fa-phone" ></i></a>
                            
                            </li>

                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About US</h3>
                        <p>The Company day starts at 7 : 45 p.m.<br> and ends at 10 : 00 p.m. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Trading System Project 2017
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--JQuery-->
    <script src="~/Scripts/jquery.min.js"></script>
    <!--Plugin JavaScript-->
    <script src="@Url.Content("http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")"></script>
    
    
    <!--DataTables-->
    <script src="~/Scripts/dataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/dataTables/dataTables.keyTable.min.js"></script>
   
    <!--BootStrap-->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!--Theme JavaScript-->
    <script src="~/Scripts/UserScript.js"></script>


    

    @RenderSection("scripts", required: false)
    
</body>
</html>
